.form_title{
	font-size: 20px;
}

.signup_btn{
	background-color: rgb(85, 105, 242);
}
.login_btn{
	background-color: rgb(49, 159, 35);
}

.btn_cl{
	border-width: 1px;
	margin-top: 5px;
	padding: 4px;
	border-radius: 4px;
	display: inline-block;
}

.center_btns{

	margin: 0 auto;
    width: 50%;
}

.btn_tgl{
	clear: both;
	margin: 0 auto;
	padding: 4px;
	border-radius: 5px;
	width: 7% !important;
}

.inline_error{
	font-weight: bolder;
	color: rgb(190, 39, 18);
}

.from_input_override{
	margin-bottom: 20px !important;
	display: inline-block;
	max-width: 20%;
}

.form_container{
	border: 1px solid black;
	border-radius: 3px;
	padding: 10px;
	width: 25%;
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 20px;
}

.about_pr{
	font-size: 18px;
    font-weight: 700;
    margin: 0 auto;
    width: 50%;
    margin-top: 50px;
}

.cu_nav_label{
	display: -webkit-inline-box;
	padding: 5px 2px 0px 4px;
	font-size: 17px;
}

.app{
	border: 1px black solid;
	margin: 13px;
}

.nav_app{
	
}
